/* based on style #6 http://pythoughts.com/table-style-css/ */

h1, h2, h3 {
font-family: sans-serif;
}

table.fancy {
border-width: 1px;
border-collapse: collapse;
border: 1px solid #B0B0B0;
}

table.fancy > tbody {
margin: 0;
padding: 0;
border: 0;
outline: 0;
font-size: 100%;
/* vertical-align: baseline; */
background: transparent;
}

table.fancy > thead {
text-align: left;
}

table.fancy > thead > tr > th {
background: linear-gradient(#F0F0F0, #DBDBDB);
/*
background: -moz-linear-gradient(top, #F0F0F0 0, #DBDBDB 100%);
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #F0F0F0), color-stop(100%, #DBDBDB));
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#F0F0F0', endColorstr='#DBDBDB', GradientType=0);
*/
border: 1px solid #B0B0B0;
color: #444;
font-size: 16px;
font-weight: bold;
padding: 3px 10px;
}

table.fancy > tbody > tr > td {
padding: 3px 10px;
border: 1px solid #B0B0B0;
}

table.fancy > tbody > tr:nth-child(even) {
background: #F2F2F2;
}
